.mainSignInContainer {
    font-family: 'Fira Code', monospace;

    display: flex;
    align-items: center;

    height: 100vh;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
}
.bigLogo {
    width: 526px;
}
.signInContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 50%;
}
.loginTitle {
    font-family: Silkscreen-bold;
    font-size: 50px;

    width: 433px;
    margin-bottom: 37px;

    color: white;
}
.loginPar {
    font-size: 24px;

    width: 433px;
    margin-bottom: 38px;

    color: white;
}
.copyright {
    font-size: 18px;

    position: absolute;
    bottom: 20px;

    color: #60265B;
}
.colorBeta {
    color: #f50d5a;
}
